header {
    background-color: #000000;
    color: #478897;
    position: fixed;
    height: 80px;
    width: 100%;
    text-align: center;
    z-index: 1;
    padding-top: 20px;
}

#score {
    font-size: 30px;
    font-family: 'Allura', cursive;
    padding-left: 200px;
}

#topScore {
    font-size: 30px;
    font-family: 'Allura', cursive;
    padding-right: 200px;
}